html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Abril Fatface';
    font-weight: 400;
}

img {
    display: block;
}

.show-on-mobile {
    display: none;
}

#header .header-desktop {
    display: block;
    max-width: 100%;
}

#header .header-mobile {
    display: none;
    max-width: 100%;
    width: 100%;
}

#section-a-banner {
    background: white;
}

#section-a-banner .banner-wrapper .col-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 55%;
}

#section-a-banner .banner-wrapper .col-text img {
    display: block;
    margin: 30px auto 0;
    max-width: 30px;
}

#section-a-banner .banner-wrapper .col-text .mission {
    font-size: 18px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 600;
}

#section-a-banner .banner-wrapper .col-text h1 {
    font-size: 42px;
    letter-spacing: 2px;
    margin: 15px 0;
}

#section-a-banner .banner-wrapper .col-text p {
    font-size: 16px;
    line-height: 24px;
}

#section-a-banner .banner-wrapper .col-text p a {
    color: #ef826f
}

#section-a-banner .banner-wrapper {
    max-width: 90%;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: flex-end;
}

#section-a-banner .banner-wrapper>div {
    flex: 1;
}

#section-a-banner .col-grap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#section-a-banner .col-grap .face-wrapper {
    /* width: 80%; */
    /* padding-top: 12%; */
    position: relative;
    display: inline-block;
    margin: auto;
    text-align: center;
}

#section-a-banner .col-grap img {
    position: absolute;
}

#section-a-banner .col-grap #handCircle2 {
    position: absolute;
    left: 44%;
    top: 19%;
    overflow: hidden;
    width: 15%;
    display: none;
    z-index: 0;
    text-align: center;
}

#section-a-banner .col-grap #handCircle2 .circle2 {
    display: block;
    position: initial;
    max-width: 100%;
}

#section-a-banner .col-grap #hand2 {
    width: 83%;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: -40%;
}

#section-a-banner .col-grap #hand2 img {
    position: initial;
    display: block;
    max-width: 100%;
}

#section-a-banner .col-grap #handCircle3 {
    position: absolute;
    width: 28%;
    right: 3%;
    bottom: 62%;
    display: none;
}

#section-a-banner .col-grap #handCircle3 .circle3 {
    display: block;
    position: relative;
    width: 72%;
}

#section-a-banner .col-grap #hand3 {
    max-width: 83%;
    z-index: 1;
}

#section-a-banner .faceVideowrapper {
    /* overflow: hidden; */
    position: relative;
    display: inline-block;
    margin-bottom: -2%;
}

#section-a-banner .videowrapper {
    overflow: hidden;
    display: inline-block;
}

#section-a-banner .faceVideowrapper:after {
    position: absolute;
    content: '';
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: 0;
    z-index: 0;
    border: 10px solid #fff;
    border-bottom: 0px;
}

#section-a-banner .col-grap #faceVideo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#section-a-banner .col-grap #hand1 {
    max-width: 18%;
    z-index: 1;
}

#section-a-banner .col-grap .mouthcloth {
    z-index: 1;
    right: 45%;
    top: 85%;
    position: absolute;
    display: block;
    width: 30%;
    height: 100px;
}

#section-a-banner .col-grap .mouthcloth span {
    height: 0;
    overflow: hidden;
    top: 0%;
    left: 0%;
    position: absolute;
    display: block;
    width: 100%;
}

#section-a-banner .col-grap .mouthcloth img {
    max-width: 100%;
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    transform: scale(0.5);
}

#section-a-throw-cloth {
    inset: 0 !important;
    top: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(#0e9cea, #d4ebf9);
}

#section-a-throw-cloth .rain-cloth-wrapper {
    height: calc(100vh + 1px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#section-a-throw-cloth #rain-cloth-animation {
    position: absolute;
    left: 0;
    right: 0;
    top: -20%;
}

#section-a-throw-cloth .plane {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}

#section-a-throw-cloth #rain-cloth-animation img, #section-a-throw-cloth #fly-plan img {
    max-width: 100%;
}

#section-a-throw-cloth .throw-cloth-text h2 {
    font-size: 50px;
    text-align: center;
}

#section-a-throw-cloth .throw-cloth-text h2:not(:first-child) {
    opacity: 0;
    display: none;
}

#section-a-throw-cloth .throw-cloth-text img {
    max-width: 100%;
}

#section-a-throw-cloth #cloth-weight-wrwpper {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
    height: calc(100vh);
    flex-direction: column;
    width: 100%;
}

#section-a-throw-cloth #cloth-weight-wrwpper {
    font-size: 22px;
}

#section-a-throw-cloth #cloth-weight-wrwpper .slide>div {
    opacity: 0;
    margin: auto;
    max-width: 70%;
    display: none;
}

#section-a-throw-cloth img {
    max-width: 100%;
}

#section-a-throw-cloth #rain-cloth-ground-wrapper {
    background: url(../images/sky.png) no-repeat center center;
    height: calc(100vh);
    width: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

#section-a-throw-cloth #rain-cloth-ground-wrapper h2 {
    font-size: 50px;
    text-align: center;
}

#section-a-throw-cloth #rain-cloth-ground-wrapper #sectionthreeText3, #section-a-throw-cloth #rain-cloth-ground-wrapper #sectionthreeText4, #section-a-throw-cloth #rain-cloth-ground-wrapper #sectionthreeText2 {
    opacity: 0;
    margin: auto;
}

#section-a-throw-cloth #rain-cloth-ground {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    top: 0;
}

#section-a-throw-cloth #rain-cloth-end {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#section-a-throw-cloth #rain-cloth-ground h2 {
    font-size: 50px;
    text-align: center;
}

#section-a-throw-cloth #sectionthreeText2 h4 {
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 400;
}

#section-a-throw-cloth #sectionthreeText2 h3 {
    font-size: 102px;
    margin: 0;
}

#section-a-throw-cloth #sectionthreeText2 p {
    font-size: 34px;
    margin: 0;
}

#section-a-throw-cloth .throw-cloth-text>* {
    position: absolute;
    left: 0;
    right: 0;
    top: 36%;
}

#section-a-throw-cloth .throw-cloth-text>#sectionthreeText2 {
    top: 50%;
    transform: translateY(-98%);
}

#section-a-sky {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    inset: 0 !important;
}

.darkblue-sky-wrapper {
    text-align: center;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

#section-a-sky .earth-section {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
}

#section-a-sky #sky-img {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 1;
    top: 100%;
    z-index: 0;
}

#section-a-sky #earth-img {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 1;
    top: 100%;
    z-index: 0;
}

/* #section-a-sky #sky-img:after {
    position: absolute;
    content: '';
    box-shadow: 0 0px 68vw 35vw rgb(255 255 255 / 75%);
    left: 0;
    right: 0;
    top: 63%;
    background: red;
    border-radius: 50%;
    z-index: -1;
    width: 41vw;
    height: 2vw;
    margin: auto;
} */

#section-a-sky img {
    width: 100%;
}

#section-a-sky .darkblue-sky-wrapper >.sky-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#section-a-sky .darkblue-sky-wrapper >.sky-text h2 {
    font-size: 70px;
    color: white;
    margin: 0;
    overflow: hidden;
}

#section-a-sky .darkblue-sky-wrapper >.sky-text p {
    font-size: 28px;
    color: white;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
}

#section-a-sky .darkblue-sky-wrapper >.sky-text span {
    position: relative;
}

#section-a-sky .cta-action-text {
    font-size: 16px !important;
}

.section-we-different {
    padding: 70px 0;
}

.section-we-different h2 {
    font-size: 44px;
}

.section-we-different p {
    line-height: 1.7;
}

.section-we-different img {
    max-width: 70%;
    margin: auto;
}

.section-we-different .countainer {
    max-width: 1280px;
    margin: auto;
}

.section-we-different .countainer .row {
    display: flex;
    margin-top: 90px;
}

.section-we-different .countainer .row .col {
    flex: 1;
}

.section-we-different .different-head {
    text-align: center;
    max-width: 820px;
    margin: auto;
}

.section-we-different .different-head h2 {
    margin: 20px 0;
}

.section-we-different .diff {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}

.section-we-different .countainer .row .d-hide {
    display: none;
}

.clouds {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.clouds img {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
}

img#Cloud1 {
    right: -5%;
    left: auto;
    top: -5%;
    animation: Clouds 10s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

img#Cloud2 {
    right: -15%;
    left: auto;
    top: 15%;
    opacity: .5;
    animation: Clouds 6s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

img#Cloud3 {
    right: 20%;
    left: auto;
    top: -5%;
    animation: Clouds 6s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

img#Cloud4 {
    right: 50%;
    left: auto;
    top: -5%;
    animation: Clouds 8s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

img#Cloud5 {
    left: 0;
    top: -0%;
    animation: Clouds 7s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

img#Cloud6 {
    left: 0;
    top: 30%;
    opacity: .5;
    animation: Clouds 6s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

img#Cloud7 {
    left: 64%;
    opacity: .5;
    top: 31%;
    animation: Clouds 10s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

img#Cloud8 {
    left: -10%;
    top: 47%;
    opacity: .5;
    animation: Clouds 9s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

img#Cloud9 {
    left: 48%;
    opacity: .5;
    top: 36%;
    animation: Clouds 7s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

img#Cloud10 {
    left: 82%;
    top: 52%;
    opacity: .5;
    animation: Clouds 9s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

/* // */

@keyframes topToBottomLeft {
    0% {
        transform: translateY(-20vh) rotate(113deg);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translateY(200vh) rotate(-90deg);
        opacity: 1;
    }
}

@keyframes topToBottomRight {
    0% {
        transform: translateY(-20vh) rotate(-113deg);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        transform: translateY(200vh) rotate(90deg);
        opacity: 1;
    }
}

@keyframes earth {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

@keyframes Clouds {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 1;
    }
}

@keyframes spliting {
    0% {
        opacity: 1;
        height: 0;
        transform: translate(0, 0);
    }
    25% {
        opacity: 1;
        height: 150px;
        transform: translate(0, 0);
    }
    80% {
        opacity: 1;
        height: 150px;
    }
    100% {
        transform: translate(-3%, 830%) rotate(90deg) scale(0);
        opacity: 0;
        height: 150px;
    }
}

#section-a-banner .col-grap .mouthcloth span {
    animation: spliting 11s ease-in-out infinite;
}

#section-a-banner .col-grap .mouthcloth #faceFromCloth {
    animation-delay: 0s;
}

#section-a-banner .col-grap .mouthcloth #faceFromCloth2 {
    animation-delay: 3s;
}

#section-a-banner .col-grap .mouthcloth #faceFromCloth3 {
    animation-delay: 6s;
}

#section-a-banner .col-grap .mouthcloth #faceFromCloth4 {
    animation-delay: 9s;
}

#rain-cloth-animation {
    display: flex;
}

#rain-cloth-animation>div {
    flex: 1;
}

#rain-cloth-animation>div>img {
    opacity: 0;
    max-width: 60% !important;
}

/* Slow  */

#rain-cloth-animation #cl-1 {
    animation: topToBottomLeft 12s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

#rain-cloth-animation #cl-3 {
    animation: topToBottomRight 12s cubic-bezier(0.4, 0, 1, 1) 3s infinite normal forwards;
}

#rain-cloth-animation #cl-5 {
    animation: topToBottomLeft 10s cubic-bezier(0.4, 0, 1, 1) 5s infinite normal forwards;
}

#rain-cloth-animation #cl-8 {
    animation: topToBottomLeft 12s cubic-bezier(0.4, 0, 1, 1) 6s infinite normal forwards;
}

#rain-cloth-animation #cl-10 {
    animation: topToBottomLeft 10s cubic-bezier(0.4, 0, 1, 1) 8s infinite normal forwards;
}

/* medium */

#rain-cloth-animation #cl-2 {
    animation: topToBottomLeft 7s cubic-bezier(0.4, 0, 1, 1) 11s infinite normal forwards;
}

#rain-cloth-animation #cl-4 {
    animation: topToBottomLeft 7s cubic-bezier(0.4, 0, 1, 1) 9s infinite normal forwards;
}

#rain-cloth-animation #cl-6 {
    animation: topToBottomRight 7s cubic-bezier(0.4, 0, 1, 1) 7s infinite normal forwards;
}

#rain-cloth-animation #cl-7 {
    animation: topToBottomLeft 7s cubic-bezier(0.4, 0, 1, 1) 5s infinite normal forwards;
}

#rain-cloth-animation #cl-9 {
    animation: topToBottomLeft 7s cubic-bezier(0.4, 0, 1, 1) 3s infinite normal forwards;
}

#rain-cloth-animation #cl-11 {
    animation: topToBottomRight 7s cubic-bezier(0.4, 0, 1, 1) 1s infinite normal forwards;
}

/* Fast */

#rain-cloth-animation #cl-12 {
    animation: topToBottomLeft 5s cubic-bezier(0.4, 0, 1, 1) 5s infinite normal forwards;
}

#rain-cloth-animation #cl-13 {
    animation: topToBottomLeft 5s cubic-bezier(0.4, 0, 1, 1) 3s infinite normal forwards;
}

#rain-cloth-animation #cl-14 {
    animation: topToBottomLeft 5s cubic-bezier(0.4, 0, 1, 1) 9s infinite normal forwards;
}

#rain-cloth-animation #cl-15 {
    animation: topToBottomLeft 5s cubic-bezier(0.4, 0, 1, 1) 7s infinite normal forwards;
}

#rain-cloth-animation #cl-16 {
    animation: topToBottomRight 5s cubic-bezier(0.4, 0, 1, 1) 11s infinite normal forwards;
}

#section-a-sky #sky-img {
    /* animation: earth 15s cubic-bezier(0.4, 0, 1, 1) 1s normal forwards; */
}

@keyframes planFly1 {
    0% {
        transform: translateX(-41vw) translateY(50vh);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translateX(42vw) translateY(-49vh);
        opacity: 0;
    }
}

@keyframes planFly2 {
    0% {
        transform: translateX(98vw) translateY(70vh) scaleX(-1) rotate(3deg);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translateX(-21vw) translateY(18vh) scaleX(-1) rotate(3deg);
        opacity: 0;
    }
}

@keyframes planFly3 {
    0% {
        transform: translateX(-21vw) translateY(73vh) rotate(10deg);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(121vw) translateY(40vh) rotate(10deg);
        opacity: 0;
    }
}

@keyframes planFly4 {
    0% {
        transform: translateX(-12vw) translateY(8vh) rotate(23deg);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(111vw) translateY(0vh) rotate(10deg);
        opacity: 0;
    }
}

@keyframes planFly5 {
    0% {
        transform: translateX(100vw) translateY(39vh) rotate(226deg);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(0vw) translateY(0vh) rotate(226deg);
        opacity: 0;
    }
}

@keyframes planFly6 {
    0% {
        transform: translateX(50vw) translateY(100vh) rotate(356deg);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(100vw) translateY(30vh) rotate(356deg);
        opacity: 0;
    }
}

@keyframes planFly7 {
    0% {
        transform: translateX(100vw) translateY(81vh) rotate(344deg) scaleX(-1);
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(-30vw) translateY(60vh) rotate(344deg) scaleX(-1);
        opacity: 0;
    }
}

#section-a-throw-cloth #fly-plan.show-plan {
    animation: planFly1 6s;
    max-width: 40%;
}

#section-a-throw-cloth #fly-plan2.show-plan {
    animation: planFly2 9s;
    max-width: 20%;
}

#section-a-throw-cloth #fly-plan3.show-plan {
    animation: planFly3 14s;
    max-width: 20%;
}

#section-a-throw-cloth #fly-plan4.show-plan {
    animation: planFly4 20s;
    max-width: 10%;
}

#section-a-throw-cloth #fly-plan5.show-plan {
    animation: planFly5 20s;
    max-width: 5%;
}

#section-a-throw-cloth #fly-plan6.show-plan {
    animation: planFly6 5s;
    max-width: 15%;
}

#section-a-throw-cloth #fly-plan7.show-plan {
    animation: planFly7 5s;
    max-width: 30%;
}

/* Stars */

#section-a-sky {
    background: linear-gradient(#070a66, #0b4bac 100%);
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 875px 851px #FFF, 852px 818px #FFF, 268px 226px #FFF, 163px 1236px #FFF, 1742px 2000px #FFF, 355px 1663px #FFF, 940px 1860px #FFF, 668px 1751px #FFF, 1556px 1993px #FFF, 1023px 1849px #FFF, 630px 464px #FFF, 1378px 1905px #FFF, 591px 842px #FFF, 66px 172px #FFF, 645px 902px #FFF, 991px 538px #FFF, 1943px 1520px #FFF, 1669px 1308px #FFF, 925px 1835px #FFF, 1851px 594px #FFF, 1963px 1184px #FFF, 380px 1244px #FFF, 1715px 488px #FFF, 1560px 625px #FFF, 1071px 1902px #FFF, 895px 847px #FFF, 535px 1170px #FFF, 430px 423px #FFF, 1191px 1406px #FFF, 1280px 1769px #FFF, 781px 1538px #FFF, 615px 770px #FFF, 1851px 1264px #FFF, 1721px 312px #FFF, 861px 1736px #FFF, 1189px 105px #FFF, 912px 418px #FFF, 561px 236px #FFF, 581px 467px #FFF, 1304px 1493px #FFF, 989px 1307px #FFF, 1637px 520px #FFF, 937px 1187px #FFF, 687px 240px #FFF, 197px 1871px #FFF, 1023px 1787px #FFF, 446px 1966px #FFF, 677px 1759px #FFF, 925px 1172px #FFF, 293px 1159px #FFF, 1767px 1418px #FFF, 1743px 1672px #FFF, 878px 947px #FFF, 971px 234px #FFF, 1892px 491px #FFF, 149px 1653px #FFF, 819px 1170px #FFF, 1915px 1661px #FFF, 505px 656px #FFF, 170px 697px #FFF, 1726px 46px #FFF, 1581px 264px #FFF, 1778px 1144px #FFF, 1096px 1835px #FFF, 1814px 1608px #FFF, 436px 1651px #FFF, 337px 1466px #FFF, 705px 470px #FFF, 544px 21px #FFF, 1220px 704px #FFF, 1350px 1316px #FFF, 520px 1506px #FFF, 160px 896px #FFF, 1990px 1719px #FFF, 1819px 1523px #FFF, 963px 1547px #FFF, 772px 21px #FFF, 385px 994px #FFF, 1342px 1761px #FFF, 662px 466px #FFF, 385px 1710px #FFF, 1761px 303px #FFF, 1095px 1268px #FFF, 1538px 1877px #FFF, 1194px 993px #FFF, 451px 517px #FFF, 227px 1444px #FFF, 1901px 1716px #FFF, 1870px 294px #FFF, 1080px 778px #FFF, 1054px 1147px #FFF, 1012px 450px #FFF, 1971px 1750px #FFF, 865px 903px #FFF, 382px 698px #FFF, 1447px 1621px #FFF, 740px 120px #FFF, 1898px 1676px #FFF, 1205px 1106px #FFF, 782px 1538px #FFF, 717px 1264px #FFF, 739px 1340px #FFF, 573px 1142px #FFF, 472px 951px #FFF, 365px 987px #FFF, 58px 834px #FFF, 398px 539px #FFF, 748px 972px #FFF, 1463px 1960px #FFF, 862px 450px #FFF, 1047px 619px #FFF, 475px 1199px #FFF, 139px 663px #FFF, 248px 1744px #FFF, 1331px 649px #FFF, 614px 1085px #FFF, 786px 1561px #FFF, 940px 1151px #FFF, 566px 1504px #FFF, 729px 1828px #FFF, 561px 310px #FFF, 1343px 1765px #FFF, 628px 1052px #FFF, 957px 1571px #FFF, 840px 985px #FFF, 47px 233px #FFF, 862px 255px #FFF, 1793px 1804px #FFF, 1795px 1481px #FFF, 249px 164px #FFF, 1003px 1356px #FFF, 432px 1424px #FFF, 1853px 167px #FFF, 1591px 671px #FFF, 1292px 953px #FFF, 274px 1248px #FFF, 437px 1721px #FFF, 922px 271px #FFF, 635px 581px #FFF, 993px 873px #FFF, 1874px 333px #FFF, 1057px 1829px #FFF, 1192px 471px #FFF, 634px 1991px #FFF, 319px 1321px #FFF, 1647px 1578px #FFF, 347px 1806px #FFF, 127px 1715px #FFF, 905px 794px #FFF, 1642px 1387px #FFF, 716px 1774px #FFF, 226px 1665px #FFF, 823px 1188px #FFF, 147px 1166px #FFF, 1971px 1384px #FFF, 121px 1347px #FFF, 302px 327px #FFF, 1569px 854px #FFF, 1203px 1205px #FFF, 1850px 327px #FFF, 1074px 493px #FFF, 1824px 1675px #FFF, 867px 1909px #FFF, 694px 205px #FFF, 1930px 1831px #FFF, 1436px 1024px #FFF, 896px 1027px #FFF, 1210px 614px #FFF, 1881px 394px #FFF, 743px 1349px #FFF, 1625px 1583px #FFF, 1206px 202px #FFF, 337px 1957px #FFF, 178px 1333px #FFF, 1932px 1443px #FFF, 905px 1005px #FFF, 201px 1176px #FFF, 1462px 447px #FFF, 960px 148px #FFF, 1961px 1527px #FFF, 1886px 1779px #FFF, 585px 254px #FFF, 738px 155px #FFF, 1938px 1903px #FFF, 735px 1656px #FFF, 1003px 425px #FFF, 412px 657px #FFF, 670px 1042px #FFF, 177px 66px #FFF, 746px 81px #FFF, 850px 900px #FFF, 505px 623px #FFF, 1879px 32px #FFF, 1144px 1600px #FFF, 1331px 13px #FFF, 1582px 1670px #FFF, 893px 1780px #FFF, 844px 1740px #FFF, 1708px 1735px #FFF, 627px 870px #FFF, 189px 550px #FFF, 887px 751px #FFF, 1406px 1289px #FFF, 1592px 1382px #FFF, 1738px 1286px #FFF, 1331px 1587px #FFF, 767px 1027px #FFF, 661px 434px #FFF, 690px 1979px #FFF, 332px 392px #FFF, 701px 1639px #FFF, 322px 799px #FFF, 1061px 1472px #FFF, 1877px 181px #FFF, 187px 921px #FFF, 180px 1642px #FFF, 417px 1253px #FFF, 712px 1177px #FFF, 1043px 369px #FFF, 1682px 1609px #FFF, 953px 1918px #FFF, 922px 56px #FFF, 507px 918px #FFF, 395px 86px #FFF, 310px 981px #FFF, 728px 1224px #FFF, 1360px 623px #FFF, 1443px 80px #FFF, 1463px 827px #FFF, 1px 1915px #FFF, 447px 961px #FFF, 302px 491px #FFF, 407px 1081px #FFF, 1790px 1px #FFF, 883px 800px #FFF, 58px 1441px #FFF, 922px 1792px #FFF, 903px 549px #FFF, 254px 398px #FFF, 1322px 1043px #FFF, 895px 1974px #FFF, 724px 1386px #FFF, 1245px 1475px #FFF, 1770px 1013px #FFF, 1198px 1269px #FFF, 1443px 1372px #FFF, 600px 1756px #FFF, 386px 315px #FFF, 841px 1129px #FFF, 84px 1518px #FFF, 321px 1082px #FFF, 662px 623px #FFF, 1958px 294px #FFF, 7px 541px #FFF, 1060px 156px #FFF, 715px 195px #FFF, 1193px 1811px #FFF, 76px 1218px #FFF, 918px 805px #FFF, 294px 773px #FFF, 1922px 1349px #FFF, 1885px 11px #FFF, 507px 1565px #FFF, 383px 966px #FFF, 1339px 254px #FFF, 1541px 900px #FFF, 1472px 1440px #FFF, 509px 382px #FFF, 613px 289px #FFF, 77px 1453px #FFF, 808px 1714px #FFF, 875px 841px #FFF, 46px 405px #FFF, 473px 1156px #FFF, 347px 765px #FFF, 1559px 1743px #FFF, 1519px 1920px #FFF, 223px 760px #FFF, 1744px 778px #FFF, 277px 1777px #FFF, 78px 1083px #FFF, 290px 547px #FFF, 1252px 786px #FFF, 1854px 1925px #FFF, 1903px 261px #FFF, 696px 990px #FFF, 688px 724px #FFF, 458px 1801px #FFF, 746px 1615px #FFF, 1502px 726px #FFF, 989px 1912px #FFF, 1600px 223px #FFF, 551px 229px #FFF, 1670px 1306px #FFF, 1883px 1574px #FFF, 474px 300px #FFF, 1025px 588px #FFF, 877px 575px #FFF, 1931px 1972px #FFF, 758px 1652px #FFF, 1902px 916px #FFF, 492px 1296px #FFF, 1943px 493px #FFF, 146px 151px #FFF, 1870px 581px #FFF, 394px 147px #FFF, 1326px 535px #FFF, 1096px 483px #FFF, 910px 1458px #FFF, 497px 190px #FFF, 546px 194px #FFF, 226px 1889px #FFF, 1059px 443px #FFF, 726px 1233px #FFF, 1888px 1933px #FFF, 987px 528px #FFF, 402px 1531px #FFF, 1093px 1538px #FFF, 1641px 1913px #FFF, 1500px 850px #FFF, 138px 355px #FFF, 679px 1238px #FFF, 172px 874px #FFF, 1667px 220px #FFF, 1048px 908px #FFF, 1785px 375px #FFF, 1290px 1980px #FFF, 139px 1715px #FFF, 682px 1844px #FFF, 1374px 686px #FFF, 558px 490px #FFF, 7px 356px #FFF, 801px 818px #FFF, 652px 1142px #FFF, 434px 1762px #FFF, 1542px 1791px #FFF, 588px 1703px #FFF, 1015px 759px #FFF, 660px 1308px #FFF, 1742px 1354px #FFF, 1667px 1664px #FFF, 602px 365px #FFF, 882px 66px #FFF, 1212px 411px #FFF, 18px 1607px #FFF, 113px 1782px #FFF, 70px 971px #FFF, 199px 1875px #FFF, 1527px 1064px #FFF, 604px 894px #FFF, 1101px 1972px #FFF, 1214px 1747px #FFF, 481px 246px #FFF, 1678px 424px #FFF, 1734px 682px #FFF, 463px 1412px #FFF, 891px 907px #FFF, 1232px 1400px #FFF, 639px 1936px #FFF, 1413px 397px #FFF, 379px 764px #FFF, 1023px 1399px #FFF, 715px 1932px #FFF, 896px 293px #FFF, 116px 1422px #FFF, 1471px 1462px #FFF, 1592px 180px #FFF, 378px 1327px #FFF, 99px 106px #FFF, 379px 1734px #FFF, 211px 150px #FFF, 262px 108px #FFF, 1230px 1925px #FFF, 638px 1865px #FFF, 1139px 1358px #FFF, 187px 731px #FFF, 1481px 1735px #FFF, 804px 1489px #FFF, 1325px 1677px #FFF, 159px 237px #FFF, 114px 884px #FFF, 1786px 161px #FFF, 785px 1017px #FFF, 1850px 129px #FFF, 1406px 1756px #FFF, 1269px 581px #FFF, 499px 1042px #FFF, 278px 929px #FFF, 449px 1245px #FFF, 1726px 1393px #FFF, 790px 1023px #FFF, 339px 1304px #FFF, 861px 1838px #FFF, 683px 427px #FFF, 511px 30px #FFF, 1941px 909px #FFF, 1324px 1698px #FFF, 270px 1370px #FFF, 1889px 1091px #FFF, 1672px 296px #FFF, 1515px 1339px #FFF, 1705px 986px #FFF, 578px 1656px #FFF, 1061px 232px #FFF, 1888px 1891px #FFF, 1389px 1268px #FFF, 1626px 61px #FFF, 671px 1052px #FFF, 589px 1701px #FFF, 1808px 1336px #FFF, 442px 392px #FFF, 154px 556px #FFF, 270px 312px #FFF, 1181px 1744px #FFF, 970px 656px #FFF, 1214px 1402px #FFF, 601px 1746px #FFF, 1713px 527px #FFF, 1803px 1271px #FFF, 1021px 997px #FFF, 1645px 1082px #FFF, 1486px 596px #FFF, 33px 1001px #FFF, 1003px 893px #FFF, 1605px 1724px #FFF, 453px 1907px #FFF, 1477px 577px #FFF, 477px 1938px #FFF, 1281px 955px #FFF, 1554px 1909px #FFF, 263px 1307px #FFF, 1005px 1317px #FFF, 1604px 717px #FFF, 1152px 1762px #FFF, 1455px 1225px #FFF, 1672px 1531px #FFF, 427px 484px #FFF, 91px 1733px #FFF, 1032px 1167px #FFF, 1669px 1573px #FFF, 570px 1870px #FFF, 1990px 1104px #FFF, 37px 1721px #FFF, 907px 1114px #FFF, 6px 1594px #FFF, 705px 1802px #FFF, 1244px 422px #FFF, 1650px 1998px #FFF, 1926px 1743px #FFF, 694px 1003px #FFF, 754px 189px #FFF, 82px 1476px #FFF, 1936px 732px #FFF, 50px 25px #FFF, 1451px 435px #FFF, 1399px 1286px #FFF, 610px 978px #FFF, 228px 1988px #FFF, 1963px 1649px #FFF, 1424px 105px #FFF, 1845px 1257px #FFF, 949px 458px #FFF, 503px 1932px #FFF, 1901px 1365px #FFF, 199px 1834px #FFF, 469px 1795px #FFF, 1710px 992px #FFF, 33px 1512px #FFF, 1120px 1639px #FFF, 434px 372px #FFF, 1863px 1828px #FFF, 1479px 999px #FFF, 1243px 892px #FFF, 1636px 323px #FFF, 1270px 1372px #FFF, 1484px 124px #FFF, 1088px 687px #FFF, 1331px 1390px #FFF, 520px 1648px #FFF, 930px 1207px #FFF, 660px 989px #FFF, 1493px 1530px #FFF, 114px 244px #FFF, 1662px 757px #FFF, 96px 712px #FFF, 1563px 1214px #FFF, 1141px 1862px #FFF, 1481px 1770px #FFF, 107px 469px #FFF, 219px 1275px #FFF, 2000px 1654px #FFF, 1167px 137px #FFF, 372px 270px #FFF, 1428px 1727px #FFF, 1931px 1127px #FFF, 963px 1625px #FFF, 559px 1706px #FFF, 1277px 1854px #FFF, 1734px 1846px #FFF, 815px 582px #FFF, 1645px 1389px #FFF, 863px 1078px #FFF, 1175px 73px #FFF, 1816px 856px #FFF, 1921px 194px #FFF, 942px 732px #FFF, 1846px 1100px #FFF, 430px 1474px #FFF, 1568px 651px #FFF, 15px 1902px #FFF, 1071px 914px #FFF, 1242px 777px #FFF, 20px 742px #FFF, 94px 44px #FFF, 1717px 948px #FFF, 1285px 1090px #FFF, 1798px 448px #FFF, 1500px 1935px #FFF, 967px 430px #FFF, 1703px 232px #FFF, 1034px 71px #FFF, 1626px 1844px #FFF, 96px 1102px #FFF, 1554px 1545px #FFF, 1423px 426px #FFF, 450px 103px #FFF, 1629px 1060px #FFF, 167px 368px #FFF, 719px 105px #FFF, 260px 364px #FFF, 469px 572px #FFF, 1872px 1765px #FFF, 620px 406px #FFF, 1690px 1069px #FFF, 1273px 1409px #FFF, 1047px 19px #FFF, 1906px 1799px #FFF, 710px 1419px #FFF, 423px 1915px #FFF, 1956px 1404px #FFF, 375px 1159px #FFF, 517px 10px #FFF, 154px 770px #FFF, 1693px 1048px #FFF, 416px 481px #FFF, 1622px 696px #FFF, 1060px 1757px #FFF, 1241px 41px #FFF, 1182px 1124px #FFF, 1842px 1310px #FFF, 518px 1366px #FFF, 282px 1229px #FFF, 1530px 446px #FFF, 1407px 958px #FFF, 1322px 1441px #FFF, 1181px 739px #FFF, 373px 1309px #FFF, 1381px 256px #FFF, 1389px 570px #FFF, 372px 1543px #FFF, 93px 1443px #FFF, 1073px 21px #FFF, 667px 1649px #FFF, 614px 1329px #FFF, 880px 223px #FFF, 1687px 6px #FFF, 1646px 423px #FFF, 818px 1689px #FFF, 1830px 70px #FFF, 788px 1382px #FFF, 452px 806px #FFF, 1609px 104px #FFF, 1009px 556px #FFF, 763px 1967px #FFF, 261px 764px #FFF, 735px 1800px #FFF, 1985px 1710px #FFF, 1914px 1510px #FFF, 497px 1445px #FFF, 533px 1688px #FFF, 120px 1946px #FFF, 399px 856px #FFF, 77px 1227px #FFF, 588px 475px #FFF, 1299px 319px #FFF, 1114px 1647px #FFF, 1151px 279px #FFF, 392px 1923px #FFF, 1167px 1182px #FFF, 119px 1743px #FFF, 509px 1540px #FFF, 1307px 1737px #FFF, 1496px 1646px #FFF, 1380px 257px #FFF, 765px 102px #FFF, 1768px 1955px #FFF, 641px 964px #FFF, 814px 420px #FFF, 1339px 128px #FFF, 662px 820px #FFF, 1758px 490px #FFF, 943px 911px #FFF, 1671px 1554px #FFF, 1162px 445px #FFF, 373px 854px #FFF, 1579px 189px #FFF, 1927px 609px #FFF, 494px 1259px #FFF, 344px 635px #FFF, 2000px 1040px #FFF, 1910px 57px #FFF, 1786px 1883px #FFF, 1843px 1682px #FFF, 1532px 370px #FFF, 1743px 1460px #FFF, 792px 925px #FFF, 1943px 1192px #FFF, 1655px 53px #FFF, 150px 1824px #FFF, 1412px 1075px #FFF, 964px 1083px #FFF, 630px 1219px #FFF, 1253px 880px #FFF, 1773px 1192px #FFF, 1180px 813px #FFF, 1617px 1835px #FFF, 1377px 178px #FFF, 1921px 1463px #FFF, 1816px 1903px #FFF, 1596px 676px #FFF, 854px 1994px #FFF, 604px 1476px #FFF, 1731px 1651px #FFF, 1621px 623px #FFF, 1545px 85px #FFF, 1406px 491px #FFF, 1562px 238px #FFF, 1809px 1894px #FFF, 1528px 338px #FFF, 1505px 432px #FFF, 731px 1170px #FFF, 139px 1104px #FFF, 17px 710px #FFF, 1683px 484px #FFF, 1216px 1197px #FFF, 1766px 647px #FFF, 842px 1774px #FFF, 848px 574px #FFF, 1037px 558px #FFF, 1882px 522px #FFF, 1937px 590px #FFF, 505px 678px #FFF, 130px 1736px #FFF, 1954px 696px #FFF, 495px 1377px #FFF, 1829px 1401px #FFF, 1051px 474px #FFF, 252px 783px #FFF, 465px 1457px #FFF, 1651px 1239px #FFF, 858px 1022px #FFF, 1421px 1530px #FFF, 596px 1201px #FFF, 1095px 116px #FFF, 1437px 201px #FFF, 1124px 131px #FFF, 1191px 1214px #FFF, 1948px 1396px #FFF, 1524px 362px #FFF, 391px 1020px #FFF, 344px 385px #FFF, 1780px 1880px #FFF, 171px 733px #FFF, 1563px 1550px #FFF, 1291px 1447px #FFF, 1862px 157px #FFF, 837px 1316px #FFF, 1846px 676px #FFF, 1544px 1054px #FFF, 709px 975px #FFF, 1662px 949px #FFF, 1372px 1900px #FFF, 831px 294px #FFF, 1972px 963px #FFF, 1817px 1830px #FFF, 1452px 507px #FFF, 796px 867px #FFF, 984px 1160px #FFF, 211px 1852px #FFF, 1666px 1489px #FFF, 1478px 56px #FFF, 296px 982px #FFF, 1674px 1097px #FFF, 1602px 1832px #FFF, 1789px 1682px #FFF, 720px 302px #FFF, 320px 752px #FFF, 1764px 805px #FFF, 207px 733px #FFF, 16px 194px #FFF;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 875px 851px #FFF, 852px 818px #FFF, 268px 226px #FFF, 163px 1236px #FFF, 1742px 2000px #FFF, 355px 1663px #FFF, 940px 1860px #FFF, 668px 1751px #FFF, 1556px 1993px #FFF, 1023px 1849px #FFF, 630px 464px #FFF, 1378px 1905px #FFF, 591px 842px #FFF, 66px 172px #FFF, 645px 902px #FFF, 991px 538px #FFF, 1943px 1520px #FFF, 1669px 1308px #FFF, 925px 1835px #FFF, 1851px 594px #FFF, 1963px 1184px #FFF, 380px 1244px #FFF, 1715px 488px #FFF, 1560px 625px #FFF, 1071px 1902px #FFF, 895px 847px #FFF, 535px 1170px #FFF, 430px 423px #FFF, 1191px 1406px #FFF, 1280px 1769px #FFF, 781px 1538px #FFF, 615px 770px #FFF, 1851px 1264px #FFF, 1721px 312px #FFF, 861px 1736px #FFF, 1189px 105px #FFF, 912px 418px #FFF, 561px 236px #FFF, 581px 467px #FFF, 1304px 1493px #FFF, 989px 1307px #FFF, 1637px 520px #FFF, 937px 1187px #FFF, 687px 240px #FFF, 197px 1871px #FFF, 1023px 1787px #FFF, 446px 1966px #FFF, 677px 1759px #FFF, 925px 1172px #FFF, 293px 1159px #FFF, 1767px 1418px #FFF, 1743px 1672px #FFF, 878px 947px #FFF, 971px 234px #FFF, 1892px 491px #FFF, 149px 1653px #FFF, 819px 1170px #FFF, 1915px 1661px #FFF, 505px 656px #FFF, 170px 697px #FFF, 1726px 46px #FFF, 1581px 264px #FFF, 1778px 1144px #FFF, 1096px 1835px #FFF, 1814px 1608px #FFF, 436px 1651px #FFF, 337px 1466px #FFF, 705px 470px #FFF, 544px 21px #FFF, 1220px 704px #FFF, 1350px 1316px #FFF, 520px 1506px #FFF, 160px 896px #FFF, 1990px 1719px #FFF, 1819px 1523px #FFF, 963px 1547px #FFF, 772px 21px #FFF, 385px 994px #FFF, 1342px 1761px #FFF, 662px 466px #FFF, 385px 1710px #FFF, 1761px 303px #FFF, 1095px 1268px #FFF, 1538px 1877px #FFF, 1194px 993px #FFF, 451px 517px #FFF, 227px 1444px #FFF, 1901px 1716px #FFF, 1870px 294px #FFF, 1080px 778px #FFF, 1054px 1147px #FFF, 1012px 450px #FFF, 1971px 1750px #FFF, 865px 903px #FFF, 382px 698px #FFF, 1447px 1621px #FFF, 740px 120px #FFF, 1898px 1676px #FFF, 1205px 1106px #FFF, 782px 1538px #FFF, 717px 1264px #FFF, 739px 1340px #FFF, 573px 1142px #FFF, 472px 951px #FFF, 365px 987px #FFF, 58px 834px #FFF, 398px 539px #FFF, 748px 972px #FFF, 1463px 1960px #FFF, 862px 450px #FFF, 1047px 619px #FFF, 475px 1199px #FFF, 139px 663px #FFF, 248px 1744px #FFF, 1331px 649px #FFF, 614px 1085px #FFF, 786px 1561px #FFF, 940px 1151px #FFF, 566px 1504px #FFF, 729px 1828px #FFF, 561px 310px #FFF, 1343px 1765px #FFF, 628px 1052px #FFF, 957px 1571px #FFF, 840px 985px #FFF, 47px 233px #FFF, 862px 255px #FFF, 1793px 1804px #FFF, 1795px 1481px #FFF, 249px 164px #FFF, 1003px 1356px #FFF, 432px 1424px #FFF, 1853px 167px #FFF, 1591px 671px #FFF, 1292px 953px #FFF, 274px 1248px #FFF, 437px 1721px #FFF, 922px 271px #FFF, 635px 581px #FFF, 993px 873px #FFF, 1874px 333px #FFF, 1057px 1829px #FFF, 1192px 471px #FFF, 634px 1991px #FFF, 319px 1321px #FFF, 1647px 1578px #FFF, 347px 1806px #FFF, 127px 1715px #FFF, 905px 794px #FFF, 1642px 1387px #FFF, 716px 1774px #FFF, 226px 1665px #FFF, 823px 1188px #FFF, 147px 1166px #FFF, 1971px 1384px #FFF, 121px 1347px #FFF, 302px 327px #FFF, 1569px 854px #FFF, 1203px 1205px #FFF, 1850px 327px #FFF, 1074px 493px #FFF, 1824px 1675px #FFF, 867px 1909px #FFF, 694px 205px #FFF, 1930px 1831px #FFF, 1436px 1024px #FFF, 896px 1027px #FFF, 1210px 614px #FFF, 1881px 394px #FFF, 743px 1349px #FFF, 1625px 1583px #FFF, 1206px 202px #FFF, 337px 1957px #FFF, 178px 1333px #FFF, 1932px 1443px #FFF, 905px 1005px #FFF, 201px 1176px #FFF, 1462px 447px #FFF, 960px 148px #FFF, 1961px 1527px #FFF, 1886px 1779px #FFF, 585px 254px #FFF, 738px 155px #FFF, 1938px 1903px #FFF, 735px 1656px #FFF, 1003px 425px #FFF, 412px 657px #FFF, 670px 1042px #FFF, 177px 66px #FFF, 746px 81px #FFF, 850px 900px #FFF, 505px 623px #FFF, 1879px 32px #FFF, 1144px 1600px #FFF, 1331px 13px #FFF, 1582px 1670px #FFF, 893px 1780px #FFF, 844px 1740px #FFF, 1708px 1735px #FFF, 627px 870px #FFF, 189px 550px #FFF, 887px 751px #FFF, 1406px 1289px #FFF, 1592px 1382px #FFF, 1738px 1286px #FFF, 1331px 1587px #FFF, 767px 1027px #FFF, 661px 434px #FFF, 690px 1979px #FFF, 332px 392px #FFF, 701px 1639px #FFF, 322px 799px #FFF, 1061px 1472px #FFF, 1877px 181px #FFF, 187px 921px #FFF, 180px 1642px #FFF, 417px 1253px #FFF, 712px 1177px #FFF, 1043px 369px #FFF, 1682px 1609px #FFF, 953px 1918px #FFF, 922px 56px #FFF, 507px 918px #FFF, 395px 86px #FFF, 310px 981px #FFF, 728px 1224px #FFF, 1360px 623px #FFF, 1443px 80px #FFF, 1463px 827px #FFF, 1px 1915px #FFF, 447px 961px #FFF, 302px 491px #FFF, 407px 1081px #FFF, 1790px 1px #FFF, 883px 800px #FFF, 58px 1441px #FFF, 922px 1792px #FFF, 903px 549px #FFF, 254px 398px #FFF, 1322px 1043px #FFF, 895px 1974px #FFF, 724px 1386px #FFF, 1245px 1475px #FFF, 1770px 1013px #FFF, 1198px 1269px #FFF, 1443px 1372px #FFF, 600px 1756px #FFF, 386px 315px #FFF, 841px 1129px #FFF, 84px 1518px #FFF, 321px 1082px #FFF, 662px 623px #FFF, 1958px 294px #FFF, 7px 541px #FFF, 1060px 156px #FFF, 715px 195px #FFF, 1193px 1811px #FFF, 76px 1218px #FFF, 918px 805px #FFF, 294px 773px #FFF, 1922px 1349px #FFF, 1885px 11px #FFF, 507px 1565px #FFF, 383px 966px #FFF, 1339px 254px #FFF, 1541px 900px #FFF, 1472px 1440px #FFF, 509px 382px #FFF, 613px 289px #FFF, 77px 1453px #FFF, 808px 1714px #FFF, 875px 841px #FFF, 46px 405px #FFF, 473px 1156px #FFF, 347px 765px #FFF, 1559px 1743px #FFF, 1519px 1920px #FFF, 223px 760px #FFF, 1744px 778px #FFF, 277px 1777px #FFF, 78px 1083px #FFF, 290px 547px #FFF, 1252px 786px #FFF, 1854px 1925px #FFF, 1903px 261px #FFF, 696px 990px #FFF, 688px 724px #FFF, 458px 1801px #FFF, 746px 1615px #FFF, 1502px 726px #FFF, 989px 1912px #FFF, 1600px 223px #FFF, 551px 229px #FFF, 1670px 1306px #FFF, 1883px 1574px #FFF, 474px 300px #FFF, 1025px 588px #FFF, 877px 575px #FFF, 1931px 1972px #FFF, 758px 1652px #FFF, 1902px 916px #FFF, 492px 1296px #FFF, 1943px 493px #FFF, 146px 151px #FFF, 1870px 581px #FFF, 394px 147px #FFF, 1326px 535px #FFF, 1096px 483px #FFF, 910px 1458px #FFF, 497px 190px #FFF, 546px 194px #FFF, 226px 1889px #FFF, 1059px 443px #FFF, 726px 1233px #FFF, 1888px 1933px #FFF, 987px 528px #FFF, 402px 1531px #FFF, 1093px 1538px #FFF, 1641px 1913px #FFF, 1500px 850px #FFF, 138px 355px #FFF, 679px 1238px #FFF, 172px 874px #FFF, 1667px 220px #FFF, 1048px 908px #FFF, 1785px 375px #FFF, 1290px 1980px #FFF, 139px 1715px #FFF, 682px 1844px #FFF, 1374px 686px #FFF, 558px 490px #FFF, 7px 356px #FFF, 801px 818px #FFF, 652px 1142px #FFF, 434px 1762px #FFF, 1542px 1791px #FFF, 588px 1703px #FFF, 1015px 759px #FFF, 660px 1308px #FFF, 1742px 1354px #FFF, 1667px 1664px #FFF, 602px 365px #FFF, 882px 66px #FFF, 1212px 411px #FFF, 18px 1607px #FFF, 113px 1782px #FFF, 70px 971px #FFF, 199px 1875px #FFF, 1527px 1064px #FFF, 604px 894px #FFF, 1101px 1972px #FFF, 1214px 1747px #FFF, 481px 246px #FFF, 1678px 424px #FFF, 1734px 682px #FFF, 463px 1412px #FFF, 891px 907px #FFF, 1232px 1400px #FFF, 639px 1936px #FFF, 1413px 397px #FFF, 379px 764px #FFF, 1023px 1399px #FFF, 715px 1932px #FFF, 896px 293px #FFF, 116px 1422px #FFF, 1471px 1462px #FFF, 1592px 180px #FFF, 378px 1327px #FFF, 99px 106px #FFF, 379px 1734px #FFF, 211px 150px #FFF, 262px 108px #FFF, 1230px 1925px #FFF, 638px 1865px #FFF, 1139px 1358px #FFF, 187px 731px #FFF, 1481px 1735px #FFF, 804px 1489px #FFF, 1325px 1677px #FFF, 159px 237px #FFF, 114px 884px #FFF, 1786px 161px #FFF, 785px 1017px #FFF, 1850px 129px #FFF, 1406px 1756px #FFF, 1269px 581px #FFF, 499px 1042px #FFF, 278px 929px #FFF, 449px 1245px #FFF, 1726px 1393px #FFF, 790px 1023px #FFF, 339px 1304px #FFF, 861px 1838px #FFF, 683px 427px #FFF, 511px 30px #FFF, 1941px 909px #FFF, 1324px 1698px #FFF, 270px 1370px #FFF, 1889px 1091px #FFF, 1672px 296px #FFF, 1515px 1339px #FFF, 1705px 986px #FFF, 578px 1656px #FFF, 1061px 232px #FFF, 1888px 1891px #FFF, 1389px 1268px #FFF, 1626px 61px #FFF, 671px 1052px #FFF, 589px 1701px #FFF, 1808px 1336px #FFF, 442px 392px #FFF, 154px 556px #FFF, 270px 312px #FFF, 1181px 1744px #FFF, 970px 656px #FFF, 1214px 1402px #FFF, 601px 1746px #FFF, 1713px 527px #FFF, 1803px 1271px #FFF, 1021px 997px #FFF, 1645px 1082px #FFF, 1486px 596px #FFF, 33px 1001px #FFF, 1003px 893px #FFF, 1605px 1724px #FFF, 453px 1907px #FFF, 1477px 577px #FFF, 477px 1938px #FFF, 1281px 955px #FFF, 1554px 1909px #FFF, 263px 1307px #FFF, 1005px 1317px #FFF, 1604px 717px #FFF, 1152px 1762px #FFF, 1455px 1225px #FFF, 1672px 1531px #FFF, 427px 484px #FFF, 91px 1733px #FFF, 1032px 1167px #FFF, 1669px 1573px #FFF, 570px 1870px #FFF, 1990px 1104px #FFF, 37px 1721px #FFF, 907px 1114px #FFF, 6px 1594px #FFF, 705px 1802px #FFF, 1244px 422px #FFF, 1650px 1998px #FFF, 1926px 1743px #FFF, 694px 1003px #FFF, 754px 189px #FFF, 82px 1476px #FFF, 1936px 732px #FFF, 50px 25px #FFF, 1451px 435px #FFF, 1399px 1286px #FFF, 610px 978px #FFF, 228px 1988px #FFF, 1963px 1649px #FFF, 1424px 105px #FFF, 1845px 1257px #FFF, 949px 458px #FFF, 503px 1932px #FFF, 1901px 1365px #FFF, 199px 1834px #FFF, 469px 1795px #FFF, 1710px 992px #FFF, 33px 1512px #FFF, 1120px 1639px #FFF, 434px 372px #FFF, 1863px 1828px #FFF, 1479px 999px #FFF, 1243px 892px #FFF, 1636px 323px #FFF, 1270px 1372px #FFF, 1484px 124px #FFF, 1088px 687px #FFF, 1331px 1390px #FFF, 520px 1648px #FFF, 930px 1207px #FFF, 660px 989px #FFF, 1493px 1530px #FFF, 114px 244px #FFF, 1662px 757px #FFF, 96px 712px #FFF, 1563px 1214px #FFF, 1141px 1862px #FFF, 1481px 1770px #FFF, 107px 469px #FFF, 219px 1275px #FFF, 2000px 1654px #FFF, 1167px 137px #FFF, 372px 270px #FFF, 1428px 1727px #FFF, 1931px 1127px #FFF, 963px 1625px #FFF, 559px 1706px #FFF, 1277px 1854px #FFF, 1734px 1846px #FFF, 815px 582px #FFF, 1645px 1389px #FFF, 863px 1078px #FFF, 1175px 73px #FFF, 1816px 856px #FFF, 1921px 194px #FFF, 942px 732px #FFF, 1846px 1100px #FFF, 430px 1474px #FFF, 1568px 651px #FFF, 15px 1902px #FFF, 1071px 914px #FFF, 1242px 777px #FFF, 20px 742px #FFF, 94px 44px #FFF, 1717px 948px #FFF, 1285px 1090px #FFF, 1798px 448px #FFF, 1500px 1935px #FFF, 967px 430px #FFF, 1703px 232px #FFF, 1034px 71px #FFF, 1626px 1844px #FFF, 96px 1102px #FFF, 1554px 1545px #FFF, 1423px 426px #FFF, 450px 103px #FFF, 1629px 1060px #FFF, 167px 368px #FFF, 719px 105px #FFF, 260px 364px #FFF, 469px 572px #FFF, 1872px 1765px #FFF, 620px 406px #FFF, 1690px 1069px #FFF, 1273px 1409px #FFF, 1047px 19px #FFF, 1906px 1799px #FFF, 710px 1419px #FFF, 423px 1915px #FFF, 1956px 1404px #FFF, 375px 1159px #FFF, 517px 10px #FFF, 154px 770px #FFF, 1693px 1048px #FFF, 416px 481px #FFF, 1622px 696px #FFF, 1060px 1757px #FFF, 1241px 41px #FFF, 1182px 1124px #FFF, 1842px 1310px #FFF, 518px 1366px #FFF, 282px 1229px #FFF, 1530px 446px #FFF, 1407px 958px #FFF, 1322px 1441px #FFF, 1181px 739px #FFF, 373px 1309px #FFF, 1381px 256px #FFF, 1389px 570px #FFF, 372px 1543px #FFF, 93px 1443px #FFF, 1073px 21px #FFF, 667px 1649px #FFF, 614px 1329px #FFF, 880px 223px #FFF, 1687px 6px #FFF, 1646px 423px #FFF, 818px 1689px #FFF, 1830px 70px #FFF, 788px 1382px #FFF, 452px 806px #FFF, 1609px 104px #FFF, 1009px 556px #FFF, 763px 1967px #FFF, 261px 764px #FFF, 735px 1800px #FFF, 1985px 1710px #FFF, 1914px 1510px #FFF, 497px 1445px #FFF, 533px 1688px #FFF, 120px 1946px #FFF, 399px 856px #FFF, 77px 1227px #FFF, 588px 475px #FFF, 1299px 319px #FFF, 1114px 1647px #FFF, 1151px 279px #FFF, 392px 1923px #FFF, 1167px 1182px #FFF, 119px 1743px #FFF, 509px 1540px #FFF, 1307px 1737px #FFF, 1496px 1646px #FFF, 1380px 257px #FFF, 765px 102px #FFF, 1768px 1955px #FFF, 641px 964px #FFF, 814px 420px #FFF, 1339px 128px #FFF, 662px 820px #FFF, 1758px 490px #FFF, 943px 911px #FFF, 1671px 1554px #FFF, 1162px 445px #FFF, 373px 854px #FFF, 1579px 189px #FFF, 1927px 609px #FFF, 494px 1259px #FFF, 344px 635px #FFF, 2000px 1040px #FFF, 1910px 57px #FFF, 1786px 1883px #FFF, 1843px 1682px #FFF, 1532px 370px #FFF, 1743px 1460px #FFF, 792px 925px #FFF, 1943px 1192px #FFF, 1655px 53px #FFF, 150px 1824px #FFF, 1412px 1075px #FFF, 964px 1083px #FFF, 630px 1219px #FFF, 1253px 880px #FFF, 1773px 1192px #FFF, 1180px 813px #FFF, 1617px 1835px #FFF, 1377px 178px #FFF, 1921px 1463px #FFF, 1816px 1903px #FFF, 1596px 676px #FFF, 854px 1994px #FFF, 604px 1476px #FFF, 1731px 1651px #FFF, 1621px 623px #FFF, 1545px 85px #FFF, 1406px 491px #FFF, 1562px 238px #FFF, 1809px 1894px #FFF, 1528px 338px #FFF, 1505px 432px #FFF, 731px 1170px #FFF, 139px 1104px #FFF, 17px 710px #FFF, 1683px 484px #FFF, 1216px 1197px #FFF, 1766px 647px #FFF, 842px 1774px #FFF, 848px 574px #FFF, 1037px 558px #FFF, 1882px 522px #FFF, 1937px 590px #FFF, 505px 678px #FFF, 130px 1736px #FFF, 1954px 696px #FFF, 495px 1377px #FFF, 1829px 1401px #FFF, 1051px 474px #FFF, 252px 783px #FFF, 465px 1457px #FFF, 1651px 1239px #FFF, 858px 1022px #FFF, 1421px 1530px #FFF, 596px 1201px #FFF, 1095px 116px #FFF, 1437px 201px #FFF, 1124px 131px #FFF, 1191px 1214px #FFF, 1948px 1396px #FFF, 1524px 362px #FFF, 391px 1020px #FFF, 344px 385px #FFF, 1780px 1880px #FFF, 171px 733px #FFF, 1563px 1550px #FFF, 1291px 1447px #FFF, 1862px 157px #FFF, 837px 1316px #FFF, 1846px 676px #FFF, 1544px 1054px #FFF, 709px 975px #FFF, 1662px 949px #FFF, 1372px 1900px #FFF, 831px 294px #FFF, 1972px 963px #FFF, 1817px 1830px #FFF, 1452px 507px #FFF, 796px 867px #FFF, 984px 1160px #FFF, 211px 1852px #FFF, 1666px 1489px #FFF, 1478px 56px #FFF, 296px 982px #FFF, 1674px 1097px #FFF, 1602px 1832px #FFF, 1789px 1682px #FFF, 720px 302px #FFF, 320px 752px #FFF, 1764px 805px #FFF, 207px 733px #FFF, 16px 194px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 101px 1872px #FFF, 1119px 1766px #FFF, 858px 995px #FFF, 1400px 642px #FFF, 43px 1858px #FFF, 1888px 1066px #FFF, 177px 1744px #FFF, 319px 537px #FFF, 820px 772px #FFF, 1771px 804px #FFF, 147px 180px #FFF, 1447px 1180px #FFF, 1891px 1875px #FFF, 1912px 105px #FFF, 920px 600px #FFF, 1410px 1232px #FFF, 1440px 1439px #FFF, 874px 1633px #FFF, 34px 266px #FFF, 1936px 1733px #FFF, 1817px 1083px #FFF, 43px 1947px #FFF, 1426px 854px #FFF, 1133px 542px #FFF, 1646px 896px #FFF, 200px 1727px #FFF, 1065px 1655px #FFF, 1037px 1188px #FFF, 234px 1713px #FFF, 158px 368px #FFF, 1964px 290px #FFF, 1338px 1152px #FFF, 1166px 415px #FFF, 1254px 1889px #FFF, 713px 1094px #FFF, 1020px 1287px #FFF, 940px 1469px #FFF, 1783px 104px #FFF, 578px 1734px #FFF, 1870px 204px #FFF, 1915px 1908px #FFF, 665px 845px #FFF, 996px 1309px #FFF, 1851px 136px #FFF, 1155px 1480px #FFF, 1221px 1778px #FFF, 19px 193px #FFF, 904px 1382px #FFF, 900px 1505px #FFF, 1310px 1469px #FFF, 1929px 1068px #FFF, 987px 1572px #FFF, 1911px 1942px #FFF, 144px 1862px #FFF, 1817px 1564px #FFF, 381px 1224px #FFF, 1675px 912px #FFF, 1424px 1726px #FFF, 1535px 1461px #FFF, 1197px 824px #FFF, 475px 1368px #FFF, 77px 693px #FFF, 1417px 37px #FFF, 199px 1397px #FFF, 1605px 180px #FFF, 1473px 1810px #FFF, 332px 1513px #FFF, 1081px 802px #FFF, 1405px 189px #FFF, 1379px 175px #FFF, 1726px 1500px #FFF, 880px 1072px #FFF, 1789px 619px #FFF, 984px 1644px #FFF, 574px 129px #FFF, 782px 1414px #FFF, 1164px 257px #FFF, 949px 997px #FFF, 858px 398px #FFF, 1354px 1595px #FFF, 1976px 1809px #FFF, 73px 1295px #FFF, 256px 1853px #FFF, 448px 1738px #FFF, 1939px 1453px #FFF, 671px 1412px #FFF, 1522px 1056px #FFF, 1095px 68px #FFF, 138px 143px #FFF, 1078px 1180px #FFF, 119px 1680px #FFF, 212px 1005px #FFF, 1141px 552px #FFF, 1757px 1319px #FFF, 544px 1833px #FFF, 1378px 526px #FFF, 1206px 1430px #FFF, 27px 920px #FFF, 860px 858px #FFF, 1932px 837px #FFF, 1822px 941px #FFF, 1416px 1238px #FFF, 605px 694px #FFF, 1491px 1523px #FFF, 972px 943px #FFF, 1506px 785px #FFF, 977px 750px #FFF, 896px 735px #FFF, 1090px 502px #FFF, 1509px 323px #FFF, 1220px 1679px #FFF, 1356px 414px #FFF, 75px 1114px #FFF, 1061px 90px #FFF, 1658px 1352px #FFF, 313px 1493px #FFF, 1578px 836px #FFF, 317px 586px #FFF, 499px 1262px #FFF, 1439px 1751px #FFF, 1944px 1713px #FFF, 854px 237px #FFF, 1402px 591px #FFF, 1652px 1705px #FFF, 1513px 1047px #FFF, 1998px 1074px #FFF, 1637px 290px #FFF, 226px 793px #FFF, 656px 1612px #FFF, 730px 1146px #FFF, 623px 651px #FFF, 106px 992px #FFF, 1492px 1374px #FFF, 76px 1003px #FFF, 601px 1428px #FFF, 911px 85px #FFF, 1886px 723px #FFF, 432px 1912px #FFF, 1319px 1913px #FFF, 1039px 301px #FFF, 1752px 1077px #FFF, 624px 1211px #FFF, 1849px 209px #FFF, 1742px 1709px #FFF, 564px 149px #FFF, 1121px 1390px #FFF, 891px 1184px #FFF, 1243px 162px #FFF, 347px 294px #FFF, 915px 521px #FFF, 419px 733px #FFF, 556px 620px #FFF, 794px 1620px #FFF, 1046px 1521px #FFF, 444px 1203px #FFF, 1763px 860px #FFF, 919px 1512px #FFF, 726px 976px #FFF, 773px 1186px #FFF, 185px 622px #FFF, 1083px 1214px #FFF, 382px 1094px #FFF, 462px 1384px #FFF, 1877px 1189px #FFF, 28px 650px #FFF, 1416px 121px #FFF, 107px 1074px #FFF, 1598px 840px #FFF, 1671px 482px #FFF, 1805px 983px #FFF, 1598px 310px #FFF, 1248px 16px #FFF, 887px 756px #FFF, 431px 811px #FFF, 1747px 1430px #FFF, 606px 148px #FFF, 1549px 1090px #FFF, 348px 468px #FFF, 1760px 1761px #FFF, 554px 801px #FFF, 518px 830px #FFF, 863px 1298px #FFF, 765px 1854px #FFF, 1403px 1077px #FFF, 1716px 19px #FFF, 1304px 1248px #FFF, 142px 640px #FFF, 1245px 166px #FFF, 164px 471px #FFF, 598px 498px #FFF, 745px 603px #FFF, 90px 1151px #FFF, 564px 539px #FFF, 1052px 1277px #FFF, 659px 1070px #FFF, 1349px 1030px #FFF, 1844px 285px #FFF, 59px 106px #FFF, 1772px 859px #FFF, 213px 1936px #FFF;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 101px 1872px #FFF, 1119px 1766px #FFF, 858px 995px #FFF, 1400px 642px #FFF, 43px 1858px #FFF, 1888px 1066px #FFF, 177px 1744px #FFF, 319px 537px #FFF, 820px 772px #FFF, 1771px 804px #FFF, 147px 180px #FFF, 1447px 1180px #FFF, 1891px 1875px #FFF, 1912px 105px #FFF, 920px 600px #FFF, 1410px 1232px #FFF, 1440px 1439px #FFF, 874px 1633px #FFF, 34px 266px #FFF, 1936px 1733px #FFF, 1817px 1083px #FFF, 43px 1947px #FFF, 1426px 854px #FFF, 1133px 542px #FFF, 1646px 896px #FFF, 200px 1727px #FFF, 1065px 1655px #FFF, 1037px 1188px #FFF, 234px 1713px #FFF, 158px 368px #FFF, 1964px 290px #FFF, 1338px 1152px #FFF, 1166px 415px #FFF, 1254px 1889px #FFF, 713px 1094px #FFF, 1020px 1287px #FFF, 940px 1469px #FFF, 1783px 104px #FFF, 578px 1734px #FFF, 1870px 204px #FFF, 1915px 1908px #FFF, 665px 845px #FFF, 996px 1309px #FFF, 1851px 136px #FFF, 1155px 1480px #FFF, 1221px 1778px #FFF, 19px 193px #FFF, 904px 1382px #FFF, 900px 1505px #FFF, 1310px 1469px #FFF, 1929px 1068px #FFF, 987px 1572px #FFF, 1911px 1942px #FFF, 144px 1862px #FFF, 1817px 1564px #FFF, 381px 1224px #FFF, 1675px 912px #FFF, 1424px 1726px #FFF, 1535px 1461px #FFF, 1197px 824px #FFF, 475px 1368px #FFF, 77px 693px #FFF, 1417px 37px #FFF, 199px 1397px #FFF, 1605px 180px #FFF, 1473px 1810px #FFF, 332px 1513px #FFF, 1081px 802px #FFF, 1405px 189px #FFF, 1379px 175px #FFF, 1726px 1500px #FFF, 880px 1072px #FFF, 1789px 619px #FFF, 984px 1644px #FFF, 574px 129px #FFF, 782px 1414px #FFF, 1164px 257px #FFF, 949px 997px #FFF, 858px 398px #FFF, 1354px 1595px #FFF, 1976px 1809px #FFF, 73px 1295px #FFF, 256px 1853px #FFF, 448px 1738px #FFF, 1939px 1453px #FFF, 671px 1412px #FFF, 1522px 1056px #FFF, 1095px 68px #FFF, 138px 143px #FFF, 1078px 1180px #FFF, 119px 1680px #FFF, 212px 1005px #FFF, 1141px 552px #FFF, 1757px 1319px #FFF, 544px 1833px #FFF, 1378px 526px #FFF, 1206px 1430px #FFF, 27px 920px #FFF, 860px 858px #FFF, 1932px 837px #FFF, 1822px 941px #FFF, 1416px 1238px #FFF, 605px 694px #FFF, 1491px 1523px #FFF, 972px 943px #FFF, 1506px 785px #FFF, 977px 750px #FFF, 896px 735px #FFF, 1090px 502px #FFF, 1509px 323px #FFF, 1220px 1679px #FFF, 1356px 414px #FFF, 75px 1114px #FFF, 1061px 90px #FFF, 1658px 1352px #FFF, 313px 1493px #FFF, 1578px 836px #FFF, 317px 586px #FFF, 499px 1262px #FFF, 1439px 1751px #FFF, 1944px 1713px #FFF, 854px 237px #FFF, 1402px 591px #FFF, 1652px 1705px #FFF, 1513px 1047px #FFF, 1998px 1074px #FFF, 1637px 290px #FFF, 226px 793px #FFF, 656px 1612px #FFF, 730px 1146px #FFF, 623px 651px #FFF, 106px 992px #FFF, 1492px 1374px #FFF, 76px 1003px #FFF, 601px 1428px #FFF, 911px 85px #FFF, 1886px 723px #FFF, 432px 1912px #FFF, 1319px 1913px #FFF, 1039px 301px #FFF, 1752px 1077px #FFF, 624px 1211px #FFF, 1849px 209px #FFF, 1742px 1709px #FFF, 564px 149px #FFF, 1121px 1390px #FFF, 891px 1184px #FFF, 1243px 162px #FFF, 347px 294px #FFF, 915px 521px #FFF, 419px 733px #FFF, 556px 620px #FFF, 794px 1620px #FFF, 1046px 1521px #FFF, 444px 1203px #FFF, 1763px 860px #FFF, 919px 1512px #FFF, 726px 976px #FFF, 773px 1186px #FFF, 185px 622px #FFF, 1083px 1214px #FFF, 382px 1094px #FFF, 462px 1384px #FFF, 1877px 1189px #FFF, 28px 650px #FFF, 1416px 121px #FFF, 107px 1074px #FFF, 1598px 840px #FFF, 1671px 482px #FFF, 1805px 983px #FFF, 1598px 310px #FFF, 1248px 16px #FFF, 887px 756px #FFF, 431px 811px #FFF, 1747px 1430px #FFF, 606px 148px #FFF, 1549px 1090px #FFF, 348px 468px #FFF, 1760px 1761px #FFF, 554px 801px #FFF, 518px 830px #FFF, 863px 1298px #FFF, 765px 1854px #FFF, 1403px 1077px #FFF, 1716px 19px #FFF, 1304px 1248px #FFF, 142px 640px #FFF, 1245px 166px #FFF, 164px 471px #FFF, 598px 498px #FFF, 745px 603px #FFF, 90px 1151px #FFF, 564px 539px #FFF, 1052px 1277px #FFF, 659px 1070px #FFF, 1349px 1030px #FFF, 1844px 285px #FFF, 59px 106px #FFF, 1772px 859px #FFF, 213px 1936px #FFF;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 494px 1000px #FFF, 210px 1249px #FFF, 1869px 66px #FFF, 1171px 194px #FFF, 1087px 965px #FFF, 1084px 42px #FFF, 455px 264px #FFF, 1192px 273px #FFF, 958px 1005px #FFF, 538px 1076px #FFF, 1423px 784px #FFF, 1152px 1069px #FFF, 1694px 1513px #FFF, 1554px 1714px #FFF, 611px 1942px #FFF, 1096px 859px #FFF, 1926px 1212px #FFF, 449px 1368px #FFF, 1621px 1630px #FFF, 867px 1567px #FFF, 200px 1826px #FFF, 884px 823px #FFF, 1679px 1016px #FFF, 962px 1463px #FFF, 1402px 331px #FFF, 54px 1925px #FFF, 615px 756px #FFF, 602px 915px #FFF, 719px 307px #FFF, 1539px 134px #FFF, 153px 1251px #FFF, 1504px 754px #FFF, 1904px 559px #FFF, 303px 1371px #FFF, 41px 289px #FFF, 644px 1958px #FFF, 1913px 568px #FFF, 717px 548px #FFF, 1019px 1008px #FFF, 900px 1764px #FFF, 890px 1119px #FFF, 987px 869px #FFF, 900px 71px #FFF, 599px 48px #FFF, 11px 326px #FFF, 267px 1892px #FFF, 1159px 1512px #FFF, 1223px 635px #FFF, 1165px 1804px #FFF, 161px 1546px #FFF, 526px 906px #FFF, 56px 1359px #FFF, 1147px 1557px #FFF, 779px 978px #FFF, 208px 1723px #FFF, 264px 652px #FFF, 831px 35px #FFF, 1652px 1058px #FFF, 298px 30px #FFF, 319px 1658px #FFF, 60px 1925px #FFF, 996px 1596px #FFF, 1974px 675px #FFF, 364px 1612px #FFF, 1032px 167px #FFF, 102px 1682px #FFF, 1563px 120px #FFF, 1994px 429px #FFF, 1585px 1903px #FFF, 736px 622px #FFF, 740px 1273px #FFF, 436px 290px #FFF, 1006px 535px #FFF, 1642px 1050px #FFF, 1863px 1489px #FFF, 1023px 1364px #FFF, 1011px 1734px #FFF, 1473px 1274px #FFF, 389px 1651px #FFF, 179px 429px #FFF, 356px 295px #FFF, 1509px 1480px #FFF, 656px 522px #FFF, 287px 1863px #FFF, 1510px 877px #FFF, 184px 1195px #FFF, 1914px 1131px #FFF, 947px 250px #FFF, 1784px 1514px #FFF, 614px 342px #FFF, 1850px 515px #FFF, 762px 1727px #FFF, 851px 1353px #FFF, 1044px 305px #FFF, 670px 623px #FFF, 1060px 924px #FFF, 1258px 1945px #FFF, 1544px 1783px #FFF, 1459px 307px #FFF, 1653px 1533px #FFF;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 494px 1000px #FFF, 210px 1249px #FFF, 1869px 66px #FFF, 1171px 194px #FFF, 1087px 965px #FFF, 1084px 42px #FFF, 455px 264px #FFF, 1192px 273px #FFF, 958px 1005px #FFF, 538px 1076px #FFF, 1423px 784px #FFF, 1152px 1069px #FFF, 1694px 1513px #FFF, 1554px 1714px #FFF, 611px 1942px #FFF, 1096px 859px #FFF, 1926px 1212px #FFF, 449px 1368px #FFF, 1621px 1630px #FFF, 867px 1567px #FFF, 200px 1826px #FFF, 884px 823px #FFF, 1679px 1016px #FFF, 962px 1463px #FFF, 1402px 331px #FFF, 54px 1925px #FFF, 615px 756px #FFF, 602px 915px #FFF, 719px 307px #FFF, 1539px 134px #FFF, 153px 1251px #FFF, 1504px 754px #FFF, 1904px 559px #FFF, 303px 1371px #FFF, 41px 289px #FFF, 644px 1958px #FFF, 1913px 568px #FFF, 717px 548px #FFF, 1019px 1008px #FFF, 900px 1764px #FFF, 890px 1119px #FFF, 987px 869px #FFF, 900px 71px #FFF, 599px 48px #FFF, 11px 326px #FFF, 267px 1892px #FFF, 1159px 1512px #FFF, 1223px 635px #FFF, 1165px 1804px #FFF, 161px 1546px #FFF, 526px 906px #FFF, 56px 1359px #FFF, 1147px 1557px #FFF, 779px 978px #FFF, 208px 1723px #FFF, 264px 652px #FFF, 831px 35px #FFF, 1652px 1058px #FFF, 298px 30px #FFF, 319px 1658px #FFF, 60px 1925px #FFF, 996px 1596px #FFF, 1974px 675px #FFF, 364px 1612px #FFF, 1032px 167px #FFF, 102px 1682px #FFF, 1563px 120px #FFF, 1994px 429px #FFF, 1585px 1903px #FFF, 736px 622px #FFF, 740px 1273px #FFF, 436px 290px #FFF, 1006px 535px #FFF, 1642px 1050px #FFF, 1863px 1489px #FFF, 1023px 1364px #FFF, 1011px 1734px #FFF, 1473px 1274px #FFF, 389px 1651px #FFF, 179px 429px #FFF, 356px 295px #FFF, 1509px 1480px #FFF, 656px 522px #FFF, 287px 1863px #FFF, 1510px 877px #FFF, 184px 1195px #FFF, 1914px 1131px #FFF, 947px 250px #FFF, 1784px 1514px #FFF, 614px 342px #FFF, 1850px 515px #FFF, 762px 1727px #FFF, 851px 1353px #FFF, 1044px 305px #FFF, 670px 623px #FFF, 1060px 924px #FFF, 1258px 1945px #FFF, 1544px 1783px #FFF, 1459px 307px #FFF, 1653px 1533px #FFF;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

.cta-button {
    color: #fff;
    border: 1px solid #FD7B67;
    background-color: #FD7B67;
    position: relative;
    display: inline-block;
    padding: 14px 28px;
    line-height: normal;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .345em;
    -webkit-transition: color .45s cubic-bezier(.785, .135, .15, .86), border .45s cubic-bezier(.785, .135, .15, .86);
    transition: color .45s cubic-bezier(.785, .135, .15, .86), border .45s cubic-bezier(.785, .135, .15, .86);
    z-index: 1;
    -webkit-tap-highlight-color: initial;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:before {
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    z-index: -1;
    background-color: #000;
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform .45s cubic-bezier(.785, .135, .15, .86);
    transition: -webkit-transform .45s cubic-bezier(.785, .135, .15, .86);
    transition: transform .45s cubic-bezier(.785, .135, .15, .86);
    transition: transform .45s cubic-bezier(.785, .135, .15, .86), -webkit-transform .45s cubic-bezier(.785, .135, .15, .86);
}

.cta-button:not([disabled]):hover {
    color: #fff;
    border-color: #fff;
}

.cta-button:not([disabled]):hover::before {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

#page_loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(225, 225, 225, 0.5);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#page_loading .loader {
    border: 8px solid #fefbd0;
    border-radius: 50%;
    border-top: 8px solid #fd7b67;
    border-bottom: 8px solid #fd7b67;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:1024px) {
    #section-a-banner .banner-wrapper {
        flex-direction: column;
        align-items: center;
    }
    #section-a-banner .col-grap {
        min-width: 100%;
    }
    #rain-cloth-animation>div>img {
        max-width: 100% !important;
    }
    #section-a-banner .col-grap .mouthcloth {
        right: 39%;
        top: 84%;
    }
}

@media screen and (max-width:768px) {
    .show-on-mobile {
        display: inline;
    }
    #header .header-desktop {
        display: none;
    }
    #header .header-mobile {
        display: block;
    }
    #section-a-banner .banner-wrapper {
        max-width: 100%;
    }
    #section-a-banner .banner-wrapper .col-text {
        padding: 50px 15px;
        /* min-height: 100vh; */
    }
    #section-a-banner .banner-wrapper .col-text h1 {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 0;
    }
    #section-a-banner .banner-wrapper .col-text p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .020em;
    }
    #section-a-banner .banner-wrapper .col-text p br {
        display: none;
    }
    #section-a-banner .banner-wrapper .col-text .mission {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: .4em;
        line-height: 20px;
    }
    #section-a-banner .col-grap .face-wrapper {
        width: 100%;
    }
    #section-a-banner .col-grap .mouthcloth {
        right: 45%;
        top: 85%;
    }
    #section-a-throw-cloth #cloth-weight-wrwpper .slide>div {
        max-width: 95%;
    }
    #section-a-sky #sky-img img {
        /* max-width: 1600px; */
    }
    #section-a-throw-cloth .throw-cloth-text h2, #section-a-throw-cloth #rain-cloth-ground-wrapper h2 {
        font-size: 26px;
    }
    #section-a-throw-cloth .throw-cloth-text h2 br {
        display: none;
    }
    #section-a-throw-cloth #rain-cloth-ground-wrapper #sectionthreeText2 h4, #section-a-throw-cloth #rain-cloth-ground-wrapper #sectionthreeText2 p {
        font-size: 20px;
    }
    #section-a-throw-cloth #rain-cloth-ground-wrapper #sectionthreeText2 h3 {
        font-size: 50px;
    }
    #section-a-sky .darkblue-sky-wrapper >.sky-text h2 {
        font-size: 40px;
    }
    #section-a-throw-cloth #sectionthreeText2 h3 {
        font-size: 54px;
    }
    #section-a-throw-cloth #sectionthreeText2 p, #section-a-throw-cloth #sectionthreeText2 h4 {
        font-size: 20px;
    }
    .section-we-different .countainer {
        padding: 0 15px;
    }
    .section-we-different h2 {
        font-size: 24px;
    }
    .section-we-different p {
        font-size: 14px;
    }
    .section-we-different .countainer .row {
        flex-direction: column;
        text-align: center;
        margin-top: 45px;
    }
    .section-we-different .countainer .row .m-hide {
        display: none;
    }
    .section-we-different .countainer .row .d-hide {
        display: block;
    }
    #section-a-throw-cloth .throw-cloth-text>* {
        padding: 0 15px;
    }
}

@media screen and (max-width:374px) {
    #section-a-throw-cloth #sectionthreeText2 h3 {
        font-size: 44px;
    }
}

